<a href="https://colab.research.google.com/github/abhinavr9162/analysis-sales-data/blob/main/Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reading and Exploring the Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
sales_data = pd.read_csv('/content/sales_data_sample.csv', encoding='latin1')

In [3]:
sales_data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
df = sales_data
# df.shape
print(f"The dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

Checking for null values

In [ ]:
df.isnull().sum()

Checking for the number of duplicates

In [ ]:
print(f"The number of diplicates in the dataset is {df.duplicated().sum()}.")

Summary statistics

In [ ]:
df.describe()

In [ ]:
df.dtypes

Checking for the number of customers and in the dataset

In [ ]:
customers = df["CUSTOMERNAME"]
customers.head()

In [ ]:
print(f"There are {df['CUSTOMERNAME'].nunique()} customers in the dataset")

In [ ]:
print(f"There are {df['COUNTRY'].nunique()} countries in the dataset")

Checking the number of customers by country

In [ ]:
customers_by_country = df.groupby("COUNTRY")["CUSTOMERNAME"].nunique().reset_index()


customers_by_country.columns = ["Country", "Number of Customers"]


print(customers_by_country.sort_values(by="Number of Customers", ascending=False))

In [ ]:
customers_by_country = customers_by_country.sort_values(by="Number of Customers", ascending=False)

plt.figure(figsize=(12, 6))
sns.barplot(data=customers_by_country, x="Country", y="Number of Customers", palette="viridis")

# Customize labels and title
plt.xticks(rotation=45, ha="right")
plt.xlabel("Country")
plt.ylabel("Number of Customers")
plt.title("Number of Customers by Country")

# Show the plot
plt.show()

Targeting top 10 Customers by Sales

In [ ]:
top_10 = df.groupby("CUSTOMERNAME")["SALES"].sum().reset_index()
top_10 = top_10.sort_values(by="SALES", ascending=False)
top_10 = top_10.head(10)
top_10

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot(data=top_10, x="SALES", y="CUSTOMERNAME", palette="magma")


plt.xlabel("Total Sales")
plt.ylabel("Customer Name")
plt.title("Top 10 Customers by Sales")
# plt.gca().invert_yaxis()


plt.show()

Sales by Country

In [ ]:
country_sales = df.groupby("COUNTRY")['SALES'].sum().reset_index()
country_sales = country_sales.sort_values(by="SALES", ascending=False)
country_sales = country_sales.head(10)
country_sales

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot(data=country_sales, x='SALES', y='COUNTRY', palette='coolwarm')

plt.xlabel("Total Sales")
plt.ylabel("Country")
plt.title("Top 10 Countries by Sales")


plt.show()

Sales by Year, Quarter and Month

In [ ]:
df["ORDERDATE"] = pd.to_datetime(df["ORDERDATE"], errors="coerce")

In [ ]:
df["Year"] = df["ORDERDATE"].dt.year
df["Quarter"] = df["ORDERDATE"].dt.quarter
df["Month"] = df["ORDERDATE"].dt.month

In [ ]:
sales_by_year = df.groupby("Year")["SALES"].sum().reset_index()

sales_by_quarter = df.groupby(["Year", "Quarter"])["SALES"].sum().reset_index()


sales_by_month = df.groupby(["Year", "Month"])["SALES"].sum().reset_index()

In [ ]:
plt.figure(figsize=(10, 5))
sns.lineplot(data=sales_by_year, x="Year", y="SALES", marker="o", linewidth=2)
plt.xlabel("Year")
plt.ylabel("Total Sales")
plt.title("Total Sales by Year")
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(data=sales_by_quarter, x="Quarter", y="SALES", hue="Year", marker="o")
plt.xlabel("Quarter")
plt.ylabel("Total Sales")
plt.title("Total Sales by Quarter")
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(data=sales_by_month, x="Month", y="SALES", hue="Year", marker="o")
plt.xlabel("Month")
plt.ylabel("Total Sales")
plt.title("Total Sales by Month")
plt.xticks(range(1, 13))  # Ensure x-axis has months 1-12
plt.show()